.conservations-tracking {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    h1 {
        text-align: center;
    }
    .main-content {
        display: flex;
        justify-content: space-between;
        .wrap-image {
            width: 300px;
            height: 80px;
            border-radius: 12px;
            border: none;
            margin-top: 30px;
            cursor: pointer;
            img {
                width: 100px;   
            }
        }
    }
}
